extends style

block content
    h2= title 
    form#form(action="#",method="post")
        div
            label 标题
            input#title(type="text", value="#{form.title || '无标题'}", name="title")

        div
            label 时间
            input#create(type="text",
                value="#{form.create || Date(Date.now())}",
                name="create")
        
        div
            label 作者
            input#author(type="text", value="#{form.author || user.fullname}", name="author")

        div
            textarea#contentbox(name="content")
                | #{form.content || ''}
            .note （支持 Markdown 语法）

        div
            input.button(type="submit", value="#{title}")

