extends style

append content
	h2= title
	div.note
		div
			| 时间：#{create.getFullYear()} /
			| #{create.getMonth() + 1} /
			| #{create.getDate()}
		div 作者：#{author}
	!{content}
	- if (user && user.isadmin)
		#lrnav_bar
			a.button(href="/news/edit/#{id}") 修改
			a.button(href="/news/del/#{id}") 删除
		a.note 注意：删除后的新闻无法恢复。
