extends style

append content
	h2= news.title
	div.note
		div
			| 时间：#{news.create.getFullYear()} /
			| #{news.create.getMonth() + 1} /
			| #{news.create.getDate()}
		div 作者：#{news.author}
	!{news.content}
	- if (user && user.isadmin)
		#lrnav_bar
			a.button(href="/news/#{news.id}/edit") 修改
			a.button(href="/news/#{news.id}/delete") 删除
		a.note 注意：删除后的新闻无法恢复。
